

$prim: #fff;
$seco: #ff7984;
$font-stack: 'Raleway', sans-serif;

body {

  margin: 0;
  background-color: $prim;
  color: $seco;
  font-family: $font-stack;
  overflow: hidden;

  .app {

    position: absolute;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

  }

  * {

    box-sizing: border-box;

  }

}

@import 'window';
@import 'containers/calendar';