

$prim: #fafafa;
$seco: rgb(64, 178, 206); // #ff7984;
$font-stack: 'Raleway', sans-serif;

$apphead-height: 64px;
$appside-width: 256px;

body {

  margin: 0;
  background-color: darken($prim, 3%);
  color: $seco;
  font-family: $font-stack;
  overflow: hidden;

  .app {

    position: absolute;
    top: 0; left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .app-header {

      position: absolute;
      top: 0; left: 0;
      width: 100%;
      height: $apphead-height;
      background-color: $prim;
      border-bottom: 1px solid darken($prim, 3%);

    }

    .app-sidebar {

      position: absolute;
      bottom: 0; left: 0;
      width: $appside-width;
      height: calc(100% - #{$apphead-height});
      background-color: $prim;

    }

    .app-body {

      position: absolute;
      bottom: 0; right: 0;
      width: calc(100% - #{$appside-width});
      height: calc(100% - #{$apphead-height});

      .view {

        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;

        overflow-x: hidden;
        overflow-y: scroll;
        display: none;

        &.active {

          display: block;

        }

      }

    }

  }

  * {

    box-sizing: border-box;

  }

}

::-webkit-scrollbar {
    
  width: 12px;

}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {

  background-color: darken( $prim, 8% );

}

::-webkit-scrollbar-thumb {

  background-color: $seco;

}

@import 'containers/sidebar';