

$prim: #fafafa;
$seco: #ff7984; //rgb(64, 178, 206);
$fontstack: 'Raleway', sans-serif;
$secondary-fontstack: 'Lora', serif;

$apphead-height: 64px;
$appside-width: 256px;
$scrollbar-width: 12px;
$trans-base: cubic-bezier( .6, 0, .4, 1 );

body {

  margin: 0;
  background-color: darken($prim, 3%);
  color: $seco;
  font-family: $fontstack;
  overflow: hidden;

  .app-container {

    position: absolute;
    top: 0; left: 0;
    width: 100vw;
    height: 200vh;

    transition: 400ms $trans-base;

    &.shifted {

      top: -100vh;

    }

    .app-upper,
    .app-lower {

      position: absolute;
      left: 0;
      width: 100vw;
      height: 100vh;
      overflow: hidden;

    }

    .app-upper {

      top: 0;
      background-color: $seco; //darken($prim, 3%);

    }

    .app-lower {

      bottom: 0;

      .app-header {

        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: $apphead-height;
        background-color: $prim;
        border-bottom: 1px solid darken($prim, 3%);

      }

      .app-sidebar {

        position: absolute;
        bottom: 0; left: 0;
        width: $appside-width;
        height: calc(100% - #{$apphead-height});
        background-color: $prim;

      }

      .app-body {

        position: absolute;
        bottom: 0; right: 0;
        width: calc(100% - #{$appside-width});
        height: calc(100% - #{$apphead-height});

        .view {

          position: absolute;
          top: 0; left: 0;
          width: 100%; height: 100%;

          overflow-x: hidden;
          overflow-y: scroll;
          display: none;

          &.active {

            display: block;

          }

        }

      }

    }

  }

  * {

    box-sizing: border-box;

  }

}

::-webkit-scrollbar {
    
  width: $scrollbar-width;

}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {

  background-color: darken( $prim, 8% );

}

::-webkit-scrollbar-thumb {

  background-color: $seco;

}

@import 'containers/home';
@import 'containers/header';
@import 'containers/sidebar';